# **Data Collection Notebook**

## Objectives

* Fetch data from Kaggle and save it as raw data.
* Inspect the data and save it under outputs/datasets/collection

## Inputs

*   The inputs/datasets/raw/Airplane_Complete_Imputation.csv downloaded from Kaggle and uploaded to gitpod workspace via local computer.

## Outputs

* Generate Dataset: outputs/datasets/collection/airplane_performance_study.csv

## Additional Comments

Method to download data directly from Kaggle to the notebook with an authentication token (Kaggle JSON file) gave a "403 - Forbidden".

---

# Change working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/workspace/data-driven-design/jupyter_notebooks'

We want to make the parent of the current directory the new current directory.
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/workspace/data-driven-design'

---

# Install python packages in the notebooks

In [4]:
%pip install -r /workspace/data-driven-design//requirements.txt

Requirement already satisfied: altair==4.2.2 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 1)) (4.2.2)
Requirement already satisfied: annotated-types==0.7.0 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 2)) (0.7.0)
Requirement already satisfied: astor==0.8.1 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 3)) (0.8.1)
Requirement already satisfied: backports.zoneinfo==0.2.1 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 4)) (0.2.1)
Requirement already satisfied: base58==2.1.1 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 5)) (2.1.1)
Requirement already satisfied: blinker==1.8.2 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 6)) (1.8.2)
Requirement already satisfied: cachetools==5.5.0 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 7)) (5.5.0)
Requirement already satisfied: click==7.1.2 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 8)) (7.1.2)
Requirement already satisfied: contourpy==1.1.1 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 9)) (1.1.1)
Requirement already satisfied: cycler==0.12.1 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 10)) (0.12.1)
Requirement already satisfied: dacite==1.8.1 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 11)) (1.8.1)
Requirement already satisfied: entrypoints==0.4 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 12)) (0.4)
Requirement already satisfied: feature-engine==1.6.2 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 13)) (1.6.2)
Requirement already satisfied: fonttools==4.54.1 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 14)) (4.54.1)
Requirement already satisfied: gitdb==4.0.11 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 15)) (4.0.11)
Requirement already satisfied: GitPython==3.1.43 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 16)) (3.1.43)
Requirement already satisfied: htmlmin==0.1.12 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 17)) (0.1.12)
Requirement already satisfied: ImageHash==4.3.1 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 18)) (4.3.1)
Requirement already satisfied: ipywidgets==8.1.5 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 19)) (8.1.5)
Requirement already satisfied: joblib==1.4.2 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 20)) (1.4.2)
Requirement already satisfied: jupyterlab_widgets==3.0.13 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 21)) (3.0.13)
Requirement already satisfied: kaggle==1.5.12 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 22)) (1.5.12)
Requirement already satisfied: kiwisolver==1.4.7 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 23)) (1.4.7)
Requirement already satisfied: llvmlite==0.41.1 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 24)) (0.41.1)
Requirement already satisfied: matplotlib==3.7.5 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 25)) (3.7.5)
Requirement already satisfied: multimethod==1.10 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 26)) (1.10)
Requirement already satisfied: networkx==3.1 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 27)) (3.1)
Requirement already satisfied: numba==0.58.1 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 28)) (0.58.1)
Requirement already satisfied: numpy==1.24.4 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 29)) (1.24.4)
Requirement already satisfied: pandas==1.5.3 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 30)) (1.5.3)
Requirement already satisfied: patsy==0.5.6 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 31)) (0.5.6)
Requirement already satisfied: phik==0.12.4 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 32)) (0.12.4)
Requirement already satisfied: pillow==10.4.0 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 33)) (10.4.0)
Requirement already satisfied: ppscore==1.3.0 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 34)) (1.3.0)
Requirement already satisfied: protobuf==5.28.2 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 35)) (5.28.2)
Requirement already satisfied: pyarrow==17.0.0 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 36)) (17.0.0)
Requirement already satisfied: pydantic==2.9.2 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 37)) (2.9.2)
Requirement already satisfied: pydantic_core==2.23.4 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 38)) (2.23.4)
Requirement already satisfied: pydeck==0.9.1 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 39)) (0.9.1)
Requirement already satisfied: pyparsing==3.1.4 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 40)) (3.1.4)
Requirement already satisfied: python-slugify==8.0.4 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 41)) (8.0.4)
Requirement already satisfied: PyWavelets==1.4.1 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 42)) (1.4.1)
Requirement already satisfied: scikit-learn==1.3.2 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 43)) (1.3.2)
Requirement already satisfied: scipy==1.10.1 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 44)) (1.10.1)
Requirement already satisfied: seaborn==0.13.2 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 45)) (0.13.2)
Requirement already satisfied: smmap==5.0.1 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 46)) (5.0.1)
Requirement already satisfied: statsmodels==0.14.1 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 47)) (0.14.1)
Requirement already satisfied: streamlit==0.85.0 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 48)) (0.85.0)
Requirement already satisfied: text-unidecode==1.3 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 49)) (1.3)
Requirement already satisfied: threadpoolctl==3.5.0 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 50)) (3.5.0)
Requirement already satisfied: toml==0.10.2 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 51)) (0.10.2)
Requirement already satisfied: toolz==0.12.1 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 52)) (0.12.1)
Requirement already satisfied: tqdm==4.66.5 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 53)) (4.66.5)
Requirement already satisfied: typeguard==4.3.0 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 54)) (4.3.0)
Requirement already satisfied: tzdata==2024.2 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 55)) (2024.2)
Requirement already satisfied: tzlocal==5.2 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 56)) (5.2)
Requirement already satisfied: validators==0.34.0 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 57)) (0.34.0)
Requirement already satisfied: visions==0.7.6 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 58)) (0.7.6)
Requirement already satisfied: watchdog==4.0.2 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 59)) (4.0.2)
Requirement already satisfied: widgetsnbextension==4.0.13 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 60)) (4.0.13)
Requirement already satisfied: wordcloud==1.9.3 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 61)) (1.9.3)
Requirement already satisfied: ydata-profiling==4.10.0 in /workspace/.pip-modules/lib/python3.8/site-packages (from -r /workspace/data-driven-design//requirements.txt (line 62)) (4.10.0)
Requirement already satisfied: jinja2 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from altair==4.2.2->-r /workspace/data-driven-design//requirements.txt (line 1)) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from altair==4.2.2->-r /workspace/data-driven-design//requirements.txt (line 1)) (4.23.0)
Requirement already satisfied: typing-extensions>=4.0.0 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from annotated-types==0.7.0->-r /workspace/data-driven-design//requirements.txt (line 2)) (4.12.2)
Requirement already satisfied: comm>=0.1.3 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from ipywidgets==8.1.5->-r /workspace/data-driven-design//requirements.txt (line 19)) (0.2.2)
Requirement already satisfied: ipython>=6.1.0 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from ipywidgets==8.1.5->-r /workspace/data-driven-design//requirements.txt (line 19)) (8.12.3)
Requirement already satisfied: traitlets>=4.3.1 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from ipywidgets==8.1.5->-r /workspace/data-driven-design//requirements.txt (line 19)) (5.14.3)
Requirement already satisfied: six>=1.10 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from kaggle==1.5.12->-r /workspace/data-driven-design//requirements.txt (line 22)) (1.16.0)
Requirement already satisfied: certifi in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from kaggle==1.5.12->-r /workspace/data-driven-design//requirements.txt (line 22)) (2024.8.30)
Requirement already satisfied: python-dateutil in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from kaggle==1.5.12->-r /workspace/data-driven-design//requirements.txt (line 22)) (2.9.0.post0)
Requirement already satisfied: requests in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from kaggle==1.5.12->-r /workspace/data-driven-design//requirements.txt (line 22)) (2.32.3)
Requirement already satisfied: urllib3 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from kaggle==1.5.12->-r /workspace/data-driven-design//requirements.txt (line 22)) (2.2.3)
Requirement already satisfied: packaging>=20.0 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from matplotlib==3.7.5->-r /workspace/data-driven-design//requirements.txt (line 25)) (24.1)
Requirement already satisfied: importlib-resources>=3.2.0 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from matplotlib==3.7.5->-r /workspace/data-driven-design//requirements.txt (line 25)) (6.4.5)
Requirement already satisfied: importlib-metadata in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from numba==0.58.1->-r /workspace/data-driven-design//requirements.txt (line 28)) (8.5.0)
Requirement already satisfied: pytz>=2020.1 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from pandas==1.5.3->-r /workspace/data-driven-design//requirements.txt (line 30)) (2024.2)
Requirement already satisfied: attrs in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from streamlit==0.85.0->-r /workspace/data-driven-design//requirements.txt (line 48)) (24.2.0)
Requirement already satisfied: tornado>=5.0 in /home/gitpod/.pyenv/versions/3.8.18/lib/python3.8/site-packages (from streamlit==0.85.0->-r /workspace/data-driven-design//requirements.txt (line 48)) (6.4.1)
INFO: pip is looking at multiple versions of visions to determine which version is compatible with other requirements. This could take a while.
Collecting streamlit==0.85.0 (from -r /workspace/data-driven-design//requirements.txt (line 48))
  Downloading streamlit-0.85.0-py2.py3-none-any.whl.metadata (1.1 kB)
Collecting statsmodels==0.14.1 (from -r /workspace/data-driven-design//requirements.txt (line 47))
  Downloading statsmodels-0.14.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.5 kB)
Collecting seaborn==0.13.2 (from -r /workspace/data-driven-design//requirements.txt (line 45))
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
INFO: pip is still looking at multiple versions of visions to determine which version is compatible with other requirements. This could take a while.
Collecting ppscore==1.3.0 (from -r /workspace/data-driven-design//requirements.txt (line 34))
  Downloading ppscore-1.3.0.tar.gz (17 kB)
  Preparing metadata (setup.py) ... done
INFO: This is taking longer than usual. You might need to provide the dependency resolver with stricter constraints to reduce runtime. See https://pip.pypa.io/warnings/backtracking for guidance. If you want to abort this run, press Ctrl + C.
Collecting phik==0.12.4 (from -r /workspace/data-driven-design//requirements.txt (line 32))
  Downloading phik-0.12.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.6 kB)
Collecting feature-engine==1.6.2 (from -r /workspace/data-driven-design//requirements.txt (line 13))
  Downloading feature_engine-1.6.2-py2.py3-none-any.whl.metadata (8.8 kB)
Collecting altair==4.2.2 (from -r /workspace/data-driven-design//requirements.txt (line 1))
  Downloading altair-4.2.2-py3-none-any.whl.metadata (13 kB)
ERROR: Cannot install -r /workspace/data-driven-design//requirements.txt (line 1), -r /workspace/data-driven-design//requirements.txt (line 13), -r /workspace/data-driven-design//requirements.txt (line 32), -r /workspace/data-driven-design//requirements.txt (line 34), -r /workspace/data-driven-design//requirements.txt (line 45), -r /workspace/data-driven-design//requirements.txt (line 47), -r /workspace/data-driven-design//requirements.txt (line 48), pandas==1.5.3 and visions==0.7.6 because these package versions have conflicting dependencies.

The conflict is caused by:
    The user requested pandas==1.5.3
    altair 4.2.2 depends on pandas>=0.18
    feature-engine 1.6.2 depends on pandas>=1.0.3
    phik 0.12.4 depends on pandas>=0.25.1
    ppscore 1.3.0 depends on pandas<2.0.0 and >=1.0.0
    seaborn 0.13.2 depends on pandas>=1.2
    statsmodels 0.14.1 depends on pandas!=2.1.0 and >=1.0
    streamlit 0.85.0 depends on pandas>=0.21.0
    visions 0.7.6 depends on pandas>=2.0.0

To fix this you could try to:
1. loosen the range of package versions you've specified
2. remove package versions to allow pip to attempt to solve the dependency conflict

ERROR: ResolutionImpossible: for help visit https://pip.pypa.io/en/latest/topics/dependency-resolution/#dealing-with-dependency-conflicts
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.

# Fetch data from Kaggle

Download data file directly from Kaggle and upload to Explorer in Git Pod workspace via local computer:

Step 1: Go to [Aircraft Performance (Aircraft Bluebook) ](https://www.kaggle.com/datasets/heitornunes/aircraft-performance-dataset-aircraft-bluebook?select=Airplane_Complete_Imputation.csv)

Step 2: Scroll down and choose the "Airplane Complete Imputation.csv"-file 

<img src="/workspace/data-driven-design/images_notebook/choose_file_from_kaggle.jpg" alt="Screenshot showing which file on Kaggle to download" width="700" />

Step 3: Download data file from Kaggle to local computer [Aircraft Performance (Aircraft Bluebook) ](https://www.kaggle.com/datasets/heitornunes/aircraft-performance-dataset-aircraft-bluebook?select=Airplane_Complete_Imputation.csv)

<img src="/workspace/data-driven-design/images_notebook/download_from_kaggle.jpg" alt="Screenshot showing where to download the data on Kaggle" width="700" />

---

# Load, Rearrange and Inspect Kaggle data

Set pandas to display all columns without truncating (and enabling horizontal slider)

In [6]:
import pandas as pd
pd.set_option('display.max_columns', None)  # Show all columns

In [7]:
df = pd.read_csv(f"inputs/datasets/raw/Airplane_Complete_Imputation.csv")
df.head()

,Model,Company,Engine Type,Multi Engine,TP mods,THR,SHP,Length,Height,Wing Span,FW,MEW,AUW,Vmax,Vcruise,Vstall,Hmax,Hmax (One),ROC,ROC (One),Vlo,Slo,Vl,Sl,Range
0,15 AC Sedan,Aeronca,Piston,False,False,NaN,145.0,25.250000,10.250000,37.416667,241.2,1180.0,2050.0,104.0,91.0,46.0,13000.0,13000.0,450.0,450.0,900.0,391.970247,1300.0,257.745075,370.0
1,11 CC Super Chief,Aeronca,Piston,False,False,NaN,85.0,20.583333,8.750000,36.083333,100.5,820.0,1350.0,89.0,83.0,44.0,12300.0,12300.0,600.0,600.0,720.0,26.247647,800.0,225.324824,190.0
2,7 CCM Champ,Aeronca,Piston,False,False,NaN,90.0,21.416667,8.583333,35.000000,127.3,810.0,1300.0,90.0,78.0,37.0,16000.0,16000.0,650.0,650.0,475.0,363.139711,850.0,585.751317,210.0
3,7 DC Champ,Aeronca,Piston,False,False,NaN,85.0,21.416667,8.583333,35.000000,127.3,800.0,1300.0,88.0,78.0,37.0,13000.0,13000.0,620.0,620.0,500.0,407.797297,850.0,642.046166,210.0
4,7 AC Champ,Aeronca,Piston,False,False,NaN,65.0,21.416667,8.750000,35.000000,93.8,740.0,1220.0,83.0,74.0,33.0,12500.0,12500.0,370.0,370.0,632.0,297.056192,885.0,329.571813,175.0

Rearrange columns in data to group features that belong together side by side in order to make heatmaps etc. more easily interpreted

In [8]:
new_order = ['Model', 'Company', 'Wing Span', 'Length', 'Height', 'Multi Engine', 'TP mods', 'Engine Type', 'THR', 'SHP', 'AUW', 'MEW', 'FW', 'Vmax', 'Vcruise', 'Vstall', 'Range', 'Hmax', 'Hmax (One)', 'ROC', 'ROC (One)', 'Vlo', 'Slo', 'Vl', 'Sl']  # Specify new order
df = df[new_order]

df.to_csv('rearranged_file.csv', index=False)
df.head()

,Model,Company,Wing Span,Length,Height,Multi Engine,TP mods,Engine Type,THR,SHP,AUW,MEW,FW,Vmax,Vcruise,Vstall,Range,Hmax,Hmax (One),ROC,ROC (One),Vlo,Slo,Vl,Sl
0,15 AC Sedan,Aeronca,37.416667,25.250000,10.250000,False,False,Piston,NaN,145.0,2050.0,1180.0,241.2,104.0,91.0,46.0,370.0,13000.0,13000.0,450.0,450.0,900.0,391.970247,1300.0,257.745075
1,11 CC Super Chief,Aeronca,36.083333,20.583333,8.750000,False,False,Piston,NaN,85.0,1350.0,820.0,100.5,89.0,83.0,44.0,190.0,12300.0,12300.0,600.0,600.0,720.0,26.247647,800.0,225.324824
2,7 CCM Champ,Aeronca,35.000000,21.416667,8.583333,False,False,Piston,NaN,90.0,1300.0,810.0,127.3,90.0,78.0,37.0,210.0,16000.0,16000.0,650.0,650.0,475.0,363.139711,850.0,585.751317
3,7 DC Champ,Aeronca,35.000000,21.416667,8.583333,False,False,Piston,NaN,85.0,1300.0,800.0,127.3,88.0,78.0,37.0,210.0,13000.0,13000.0,620.0,620.0,500.0,407.797297,850.0,642.046166
4,7 AC Champ,Aeronca,35.000000,21.416667,8.750000,False,False,Piston,NaN,65.0,1220.0,740.0,93.8,83.0,74.0,33.0,175.0,12500.0,12500.0,370.0,370.0,632.0,297.056192,885.0,329.571813

DataFrame Summary

Click 'View as a scrollable element' at the bottom of the output in case the 'display.max_columns'-command does not work (probably overruled by jupyter notebook)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 860 entries, 0 to 859
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Model         860 non-null    object
 1   Company       860 non-null    object
 2   Wing Span     860 non-null    float64
 3   Length        860 non-null    float64
 4   Height        860 non-null    float64
 5   Multi Engine  860 non-null    bool
 6   TP mods       860 non-null    bool
 7   Engine Type   860 non-null    object
 8   THR           156 non-null    float64
 9   SHP           704 non-null    float64
 10  AUW           860 non-null    float64
 11  MEW           860 non-null    float64
 12  FW            860 non-null    float64
 13  Vmax          860 non-null    float64
 14  Vcruise       860 non-null    float64
 15  Vstall        860 non-null    float64
 16  Range         860 non-null    float64
 17  Hmax          860 non-null    float64
 18  Hmax (One)    860 non-null    float64
 19  ROC           860 non-null    float64
 20  ROC (One)     860 non-null    float64
 21  Vlo           860 non-null    float64
 22  Slo           860 non-null    float64
 23  Vl            860 non-null    float64
 24  Sl            860 non-null    float64
dtypes: bool(2), float64(20), object(3)
memory usage: 156.3+ KB

XXXXXXXXXXXXXXXXXXXXXXXXX Remove or move below 'reset'-code xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

Reset back into effect pandas automatic truncation of displayed columns

In [10]:
pd.reset_option('display.max_columns')

We want to check if there are duplicated airplanes by checking `Model`: There are three duplicates.

The 'keep=False' ensures that both lines of duplicate values are being displayed

In [11]:
df[df.duplicated(subset=['Model'], keep=False)]

,Model,Company,Wing Span,Length,Height,Multi Engine,TP mods,Engine Type,THR,SHP,...,Vstall,Range,Hmax,Hmax (One),ROC,ROC (One),Vlo,Slo,Vl,Sl
29,AT-602,"Air Tractor, Inc.",56.000000,33.500000,12.166667,False,False,Propjet,NaN,1050.0,...,52.000000,600.0,8000.0,8000.000000,650.000000,650.000000,1756.907849,1830.0,1949.973315,1634.223699
65,AT-602,Beechcraft (Hawker Beechcraft),56.000000,33.500000,11.000000,False,False,Propjet,NaN,1050.0,...,52.000000,600.0,8000.0,8000.000000,650.000000,650.000000,2803.267722,1830.0,2862.650930,1820.805987
445,Lineage 1000,Dassault Falcon Jet,94.250000,118.916667,33.750000,True,False,Jet,18500.0,NaN,...,133.063795,4600.0,41000.0,16816.632111,2464.000000,720.000000,7351.680105,6076.0,4108.774275,2450.000000
481,Lineage 1000,Embraer Aircraft - Empresa Brasileira,94.250000,118.916667,33.750000,True,False,Jet,18500.0,NaN,...,107.896643,4592.0,41000.0,16648.502977,2464.000000,720.000000,6661.152244,6076.0,2647.677210,3402.000000
511,G500,Gulfstream Aerospace,86.333333,91.166667,25.500000,True,False,Jet,15144.0,NaN,...,127.868748,5300.0,51000.0,29210.904017,2467.000000,732.453021,5912.498345,5300.0,3333.022500,2620.000000
514,G500,Gulfstream Aerospace,93.500000,96.416667,25.833333,True,False,Jet,15385.0,NaN,...,107.629085,5200.0,51000.0,27700.000000,5515.951635,707.000000,6700.448422,5150.0,4383.458188,2770.000000

The double entries having the same and almost the same values for their features probably refer to confusion in the "Company" or similar versions of the same model.  We will drop one of each double entries.

In [12]:
# Drop the row at index 1
df_dropped = df.drop(index=[65, 445, 514], inplace=True)

print(df_dropped)

None

We check for dupicates again: There are no duplicates.

In [13]:
df[df.duplicated(subset=['Model'], keep=False)]

Empty DataFrame
Columns: [Model, Company, Wing Span, Length, Height, Multi Engine, TP mods, Engine Type, THR, SHP, AUW, MEW, FW, Vmax, Vcruise, Vstall, Range, Hmax, Hmax (One), ROC, ROC (One), Vlo, Slo, Vl, Sl]
Index: []

[0 rows x 25 columns]

We noticed `Engine Type` is a categorical variable with three alternatives: 'Piston', 'Propjet'and 'Jet'. We will replace/convert the categories to integers as the ML model requires numeric variables.

In [14]:
df['Engine Type'].unique()

array(['Piston', 'Propjet', 'Jet'], dtype=object)

In [15]:
df['Engine Type'] = df['Engine Type'].replace({"Piston":0, "Propjet":1, "Jet":2})

Check the `Engine Type` data type.

In [16]:
df['Engine Type'].dtype

dtype('int64')

# Push files to Repo

In [17]:
import os
try:
  os.makedirs(name='outputs/datasets/collection') # create outputs/datasets/collection folder
except Exception as e:
  print(e)

df.to_csv(f"outputs/datasets/collection/airplane_performance_study.csv",index=False)

[Errno 17] File exists: 'outputs/datasets/collection'